/*  import google fonts */
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600;700&family=Ubuntu:wght@400;500;700&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
}

html {
    scroll-behavior: smooth;
}
/* Base styling for the container holding the buttons */
body {
    font-family: Arial, sans-serif;
    background-color: #000001;
    color: #fff;
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

.button-container {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 20px;
    width: 50%;
    margin: 0 auto;
    margin-top: 100px;
    padding: 20px;
}

/* Button styling */
.button-container a button {
    width: 100%;
    padding: 15px;
    background-color: #0ef;
    color: #000001;
    border: none;
    border-radius: 5px;
    font-size: 16px;
    cursor: pointer;
    transition: background-color 0.3s, transform 0.3s;
}

.button-container a button:hover {
    background-color: #2980b9;
    transform: scale(1.05);
}

/* Button text styling */
.button-container a {
    text-align: center;
    text-decoration: none;
}

/* Responsive design */
@media (max-width: 768px) {
    .button-container {
        grid-template-columns: 1fr;
    }
}


/* custom scroll bar */
::-webkit-scrollbar {
    width: 10px;
}

::-webkit-scrollbar-track {
    background: #f1f1f1;
}

::-webkit-scrollbar-thumb {
    background: #888;
}

::-webkit-scrollbar-thumb:hover {
    background: #555;
}

.max-width {
    max-width: 1300px;
    padding: 0 80px;
    margin: auto;
}

.about,
.services,
.skills,
.teams,
.contact,
footer {
    font-family: 'Poppins', sans-serif;
    color: white;
    background-color: black;
}
/* navbar styling */
.navbar {
    position: fixed;
    top: 0px;
    background-color: #ff0000;
    width: 100%;
    z-index: 999;
    padding: 30px 0;
    font-family: 'Ubuntu', sans-serif;
    transition: all 0.3s ease;
    display: block;
}

.navbar.sticky {
    padding: 15px 0;
    background: #FF0000;
}

.navbar .max-width {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.navbar .logo a {
    color: #000001;
    font-size: 35px;
    font-weight: 600;
}

.navbar .logo a span {
    color: #fff;
    transition: all 0.3s ease;
}

.navbar.sticky .logo a span {
    color: #000001;
}

.navbar .menu li {
    list-style: none;
    display: inline-block;
}

.navbar .menu li a {
    display: block;
    color: #000001;
    font-size: 18px;
    font-weight: 500;
    margin-left: 25px;
    transition: color 0.3s ease;
}

.navbar .menu li a:hover {
    color: #ff0000;
}

.navbar.sticky .menu li a:hover {
    color: #fff;
}

/* menu btn styling */
.menu-btn {
    color: #000001;
    font-size: 23px;
    cursor: pointer;
    display: none;
}

.scroll-up-btn {
    position: fixed;
    height: 45px;
    width: 42px;
    background: #ff0000;
    right: 30px;
    bottom: 10px;
    text-align: center;
    line-height: 45px;
    color: #fff;
    z-index: 9999;
    font-size: 30px;
    border-radius: 6px;
    border-bottom-width: 2px;
    cursor: pointer;
    opacity: 0;
    pointer-events: none;
    transition: all 0.3s ease;
}

.scroll-up-btn.show {
    bottom: 30px;
    opacity: 1;
    pointer-events: auto;
}

.scroll-up-btn:hover {
    filter: brightness(90%);
}


/* home section styling */
.home {
    display: flex;
    background: url("/static/images/img-banner.jpg") no-repeat center;
    height: 100vh;
    color: #000001;
    min-height: 500px;
    background-size: cover;
    background-attachment: fixed;
    font-family: 'Ubuntu', sans-serif;
}

.home .max-width {
    width: 100%;
    display: flex;
}

.home .max-width .row {
    margin-right: 0;
}

.home .home-content .text-1 {
    font-size: 27px;
}

.home .home-content .text-2 {
    font-size: 75px;
    font-weight: 600;
    margin-left: -3px;
}

.home .home-content .text-3 {
    font-size: 40px;
    margin: 5px 0;
}

.home .home-content .text-3 span {
    color: #ff0000;
    font-weight: 500;
}

.home .home-content a {
    display: inline-block;
    background: #ff0000;
    color: black;
    font-size: 25px;
    padding: 12px 36px;
    margin-top: 20px;
    font-weight: 400;
    border-radius: 6px;
    border: 2px solid #ff0000;
    transition: all 0.3s ease;
}

.home .home-content a:hover {
    color: #ff0000;
    background: none;
}
/* footer section styling */
footer {
    background: #fff;
    padding: 15px 23px;
    color: #111;
    text-align: center;
}

footer span a {
    color: #ff0000;
    text-decoration: none;
}

footer span a:hover {
    text-decoration: underline;
}


/* responsive media query start */
@media (max-width: 1104px) {
    .about .about-content .left img {
        height: 350px;
        width: 350px;
    }
}

@media (max-width: 991px) {
    .max-width {
        padding: 0 50px;
    }
}

@media (max-width: 947px) {
    .menu-btn {
        display: block;
        z-index: 999;
    }

    .menu-btn i.active:before {
        content: "\f00d";
    }

    .navbar .menu {
        position: fixed;
        height: 100vh;
        width: 100%;
        left: -100%;
        top: 0;
        background: #111;
        text-align: center;
        padding-top: 80px;
        transition: all 0.3s ease;
    }

    .navbar .menu.active {
        left: 0;
    }

    .navbar .menu li {
        display: block;
    }

    .navbar .menu li a {
        display: inline-block;
        margin: 20px 0;
        font-size: 25px;
    }

    .home .home-content .text-2 {
        font-size: 70px;
    }

    .home .home-content .text-3 {
        font-size: 35px;
    }

    .home .home-content a {
        font-size: 23px;
        padding: 10px 30px;
    }

    .max-width {
        max-width: 930px;
    }

    .about .about-content .column {
        width: 100%;
    }

    .about .about-content .left {
        display: flex;
        justify-content: center;
        margin: 0 auto 60px;
    }

    .about .about-content .right {
        flex: 100%;
    }

    .services .serv-content a {
        width: calc(50% - 10px);
        margin-bottom: 20px;
    }

    .skills .skills-content .column,
    .contact .contact-content .column {
        width: 100%;
        margin-bottom: 35px;
    }
}

@media (max-width: 690px) {
    .max-width {
        padding: 0 23px;
    }

    .home .home-content .text-2 {
        font-size: 60px;
    }

    .home .home-content .text-3 {
        font-size: 32px;
    }

    .home .home-content a {
        font-size: 20px;
    }

    .services .serv-content a {
        width: 100%;
    }
}

@media (max-width: 500px) {
    .home .home-content .text-2 {
        font-size: 50px;
    }

    .home .home-content .text-3 {
        font-size: 27px;
    }

    .about .about-content .right .text,
    .skills .skills-content .left .text {
        font-size: 19px;
    }

    .contact .right form .fields {
        flex-direction: column;
    }

    .contact .right form .name,
    .contact .right form .email {
        margin: 0;
    }

    .right form .error-box {
        width: 150px;
    }

    .scroll-up-btn {
        right: 15px;
        bottom: 15px;
        height: 38px;
        width: 35px;
        font-size: 23px;
        line-height: 38px;
    }
}