<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>Alzheimer's Health Questionnaire</title>
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css" />
        <link rel="stylesheet"
        href="https://cdnjs.cloudflare.com/ajax/libs/OwlCarousel2/2.3.4/assets/owl.carousel.min.css" />
        <link rel="stylesheet" href="/static/css/choose.css">
    
    </head>

<body>
    <div class="scroll-up-btn">
        <i class="fas fa-angle-up"></i>
    </div>
    <nav class="navbar">
        <div class="max-width">
            <div class="logo"><a href="/static/images/logo.png">MedIQ<span>Advisor</span></a></div>
            <ul class="menu">
                <li><a href="#home" class="menu-btn">Home</a></li>
                <li><a href="#about" class="menu-btn">About</a></li>
                <li><a href="#services" class="menu-btn">Services</a></li>
                <li><a href="#teams" class="menu-btn">Teams</a></li>
                <li><a href="#contact" class="menu-btn">Contact</a></li>
            </ul>
            <div class="menu-btn">
                <i class="fas fa-bars"></i>
            </div>
        </div>
    </nav>
    <br> <br> <br><br> <br> <br><br>
    <div class="button-container">
        <a href="/alzheimers_img"><button>Alzheimer</button></a>
        <a href="/asthama_ques"><button>Asthama</button></a>
        <a href="/bp_ques"><button>Blood Pressure (BP)</button></a>
        <a href="/brain_img"><button>Brain Tumor</button></a>
        <a href="/breast_ques"><button>Breast Cancer</button></a>
        <a href="/diabetes_ques"><button>Diabetes</button></a>
        <a href="/heart_ques"><button>Heart Disease</button></a>
        <a href="/kidney_img"><button>Kidney Stone</button></a>
        <a href="/lungs_img"><button>Lung Cancer</button></a>
        <a href="http://127.0.0.1:8080" ><button>Mental Health</button></a>
        <a href="/obesity_ques"><button>Obesity</button></a>
        <a href="/parkinsons_ques"><button>Parkinsons</button></a>
        <a href="/skin_img"><button>Skin Cancer</button></a>
        <a href="/tb_ques"><button>Tuberculosis (TB)</button></a>
        <a href="/thyroid_ques"><button>Thyroid</button></a>
    </div>


</body>

</html>